<!DOCTYPE html>

<head>
    <title>KIP Status</title>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        tr:hover {
          background-color:#CCE6FF;
        }

        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
            /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;


            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
            top: -5px;
            right: 105%;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
</head>

<body>
    <h1>KIPs Under Discussion</h1>
    <p>Last Updated: {{ date }}</p>
    <table>
        <tr>
            <th>KIP</th>
            <th>Description</th>
            <th>Status</th>
            <th>+1</th>
            <th>0</th>
            <th>-1</th>
        </tr>
        {% for kip in kip_status %}
        <tr>
            <td><a href={{ kip['url'] }}>{{ kip['id'] }}</a></td>
            <td>{{ kip['text'] }}
            <td style="background-color:{{ kip['status'].text }};"></td>
            {% if kip["+1"] %}
            <td style="background-color:green;">
                <div class="tooltip">{{ kip["+1"]|length }}
                    <span class="tooltiptext">
                        {% for name in kip["+1"] %}
                        {{ name }}<br>
                        {% endfor %}
                    </span>
                </div>
            </td>
            {% else %}
            <td>{{ kip["+1"]|length }}</td>
            {% endif %}
            {% if kip["0"] %}
            <td style="background-color:yellow;">
                <div class="tooltip">{{ kip["0"]|length }}
                    <span class="tooltiptext">
                        {% for name in kip["0"] %}
                        {{ name }}<br>
                        {% endfor %}
                    </span>
                </div>
            </td>
            {% else %}
            <td>{{ kip["0"]|length }}</td>
            {% endif %}
            {% if kip["-1"] %}
            <td style="background-color:red;">
                <div class="tooltip">{{ kip["-1"]|length }}
                    <span class="tooltiptext">
                        {% for name in kip["-1"] %}
                        {{ name }}<br>
                        {% endfor %}
                    </span>
                </div>
            </td>
            {% else %}
            <td>{{ kip["-1"]|length }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <h2>Status Key</h2>
    <table>
        <tr>
            <th>Status</th>
            <th>Mentioned within the last N days</th>
        </tr>
        {% for status in kip_status_enum %}
        <tr>
            <td style="background-color:{{ status.text }};"></td>
            <td>{{ status.duration.days }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>