<!DOCTYPE html>

<head>
    <title>OSSIP</title>
    <style type="text/css">
        html * {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <h1>OSSIP</h1>
    <h2>A hub for information on Open Source Software Improvement Proposals</h2>

    <p>Created by <a href="https://tomcooper.dev">Tom Cooper</a></p>
    <p>GitHub Repository: <a href="https://github.com/tomncooper/ossip">tomncooper/ossip</a></p>

    <h2><a href="kafka.html">Kafka</a></h2>
    <h2><a href="flink.html">Flink</a></h2>
</body>

</html>