<!DOCTYPE html>

<head>
    <title>KIP Status</title>
    <style type="text/css">
        html * {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body>
    <h1>IPper - The OSS Improvement Proposal Enrichement Program</h1>

    <p>Created by <a href="https://tomcooper.dev">Tom Cooper</a></p>
    <p>GitHub Repository: <a href="https://github.com/tomncooper/kipper">tomncooper/kipper</a></p>

    <h2><a href="kafka.html">Kafka</a></h2>
    <h2><a href="flink.html">Flink</a></h2>
</body>

</html>